.fullWidth {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: initial
}

// ========== temporary internship banner ==========
.announcement_banner {
    position: relative; 
    top: 0; 
    background: #FFD700; 
    width: 100%; 
    margin: 0; 
    text-align: center; 
    padding: 20px 10px; 
    font-family: 'Work Sans';
    margin-bottom: 20px;
}

.hero_textCont {
    padding: 0 30px
}

.hero_text h4 {
    font-family: 'Work Sans';
    font-size: 16px;
    margin-bottom: 20px;
}

.hero_text p {
    font-size: 1em;
    line-height: 30px;
    font-family: 'Lato';
    font-weight: 300;
}

.hero_text p span.triggerClose {
    color: red;
}

.hero_text #alohaFriday {
    display: none;
}

#cal {
    height: 50px
}

.calText {
    padding-left: 20px;
    margin: 0px;
    display: inline-block;
}

#small-hero-image-cont img {
    padding: 0 30px;
    margin-bottom: 30px
}

.after-image-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-icons-cont {

    margin: 30px 0px;
    display: flex;

    .social-icon {
        width: 40px;
        height: 40px;
        border-radius: 100%;
        background: red;
        margin: 0px 5px;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .twitter {
        background: #08a0e9;
        color: white;
    }

    .linkedin {
        background: #0077B5;
        color: white;
    }

    .instagram {
        background: #EA0062;
        color: white;
    }
}

@media only screen and (min-device-width:375px) and (max-device-width:736px) and (-webkit-min-device-pixel-ratio:2) and (orientation:landscape) {
    .hideLandscape {
        display: none
    }
}


// tablet both orientations
@media all and (min-width: 480px) and (max-width: 1024px) {
    .hero_text p {
        font-size: 1em !important;
    }
}

// tablet and up
@media only screen and (min-width:40.063em) {

    // ========== temporary internship banner ==========
    .announcement_banner {
        position: absolute;
        margin-bottom: 0px;
    }

    .hero_textCont {
        padding: 0 60px;
        display: flex;
        align-items: center;
    }
    .hero_textCont .hero_text {
        margin: 0
    }

    .hero_text p {
        font-size: 1em;
    }

    .hero_image {
        height: 100vh;
        // background-image: url(../images/nickCal_compressed.jpg);
        background-image: url(../images/nick-art.jpg);
        background-size: cover;
        background-position: 50% 75%;
        margin-top: 0px !important;
        z-index: -1 !important;
    }
    .hero_text h4 {
        margin-bottom: 0px;
    }
    .boom {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%)
    }
    .social-icons-cont {
        position: absolute;
        bottom: 10px;
        left: 10px;
        display: flex;
        margin: 0 0;
    }
}

/* min-width 641px, medium screens (tablet) and up */
@media only screen and (min-width:40.063em) {


}

/* min-width 1441px, xlarge screens */
@media only screen and (min-width: 90.063em) { 
    .hero_text p {
        font-size: 1.25em;
    }
}

