.about-project,
.hero .cont a,
.hero .cont h1 {
    font-family: 'Open Sans'
}

body {
    margin: 0
}

.hero {
    background: url(../images/sense/sense_logo_dark.png) center center no-repeat;
    background-size: cover;
    height: 60vh;
    position: relative
}

.hero .cont {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    color: #fff;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.hero .cont h1 {
    color: #fff;
    font-size: 48px;
    margin-bottom: 20px
}

.hero .cont a {
    text-decoration: none
}

.hero .cont .button {
    background: 0 0;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 20px;
    width: 150px
}

.hero svg {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px
}

.about-project div {
    margin: 0 auto
}

.about-project .project-tags {
    padding: 0 40px;
    margin-top: 20px;
    margin-bottom: 30px
}

.about-project .project-tags h3,
.about-project .project-tags p {
    font-size: 12px;
    display: inline
}

.about-project .project-tags p {
    color: #525252
}

.about-project .project-intro {
    padding: 0 20px
}

.about-project .project-intro p {
    font-family: Lato;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.5
}